[viewBag]
==
<div class="container-fluid" id="blog-header-wrapper">

    <div class="container blog-header-container">
        <nav id="blog-filter">
            <a href="/reports" class="nav-link btn btn-white-outline">All Reports</a>  
            <a href="/reports/category/press-release" class="nav-link btn">Press Release</a>     
            <a href="/reports/category/blog" class="nav-link btn">Blog</a>          
        </nav>


<!--
    // dort funktioniert es http://jsfiddle.net/daslicht/zonh5qjw/3/
// hier nicht 
        <nav class="navbar navbar-default" role="navigation">
            <ul class="nav navbar-nav">
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </nav>-->

    </div>

</div>