description = "javascript files at the bottom of body"

[viewBag]
==
{# Scripts #}
<script src="{{ [
    'assets/vendor/jquery/dist/jquery.min.js',
    'assets/vendor/jquery-ui/jquery-ui.min.js',
    'assets/vendor/tether/dist/js/tether.js',
    'assets/vendor/bootstrap/dist/js/bootstrap.js',
    'assets/vendor/slick-carousel/slick/slick.js',
    'assets/vendor/isotope/dist/isotope.pkgd.min.js',
    'assets/vendor/simpler-sidebar/dist/jquery.simpler-sidebar.min.js',
    'assets/vendor/animatedModal.js-master/animatedModal.js',
    'assets/vendor/masonry/dist/masonry.pkgd.min.js',
    'assets/vendor/multiple-filter-masonry-master/multipleFilterMasonry.js',
    'assets/vendor/Hyphenator/Hyphenator.js',
    'assets/javascript/special-scroll-events.js',
    'assets/vendor/barba.js/dist/barba.min.js',
    'assets/javascript/pages/main.js'
]|theme }}"></script>
{% framework extras %}
{% scripts %}

{% put scripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/screenfull.js/3.0.0/screenfull.min.js"></script>
{% endput %}