description = "javascript files at the bottom of body"

[viewBag]
==
{# Scripts #}
<script src="{{ [
    'assets/vendor/jquery/dist/jquery.min.js',
    'assets/vendor/tether/dist/js/tether.js',
    'assets/vendor/bootstrap/dist/js/bootstrap.js',
    'assets/vendor/slick-carousel/slick/slick.js',
]|theme }}"></script>
{% framework extras %}
{% scripts %}

<script>
    $(document).ready(function() {

        // var $latest-blog-posts-container = $("latest-blog-posts-container");
        $(".latest-blog-posts-carousel").slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: false,
            autoplaySpeed: 2000,
        });
        // var init = new Event('init');
        // window.jumplink = window.jumplink || {};   

        // // Listen for the event.
        // window.addEventListener('init', function (e) {
        //     console.log('init')
        // }, false);


        // window.dispatchEvent(init);

         console.log('see: body_foot.htm');
    });
</script>