[viewBag]
==
<div class="container-fluid" id="footer-navigation-wrapper">

    <div class="container footer-navigation-container">
        <nav id="footer-navigation">
            <a href="/about" class="nav-link">About us </a>  
            <a href="/jobs" class="nav-link">Jobs</a>     
            <a href="/agency" class="nav-link">Agency</a>          
            <a href="/environment" class="nav-link">Environment</a>     
            <a href="/history" class="nav-link">History</a> 
            <a href="/contact" class="nav-link">Contact</a>  
        </nav>
    </div>


   {#} <div class="container">
        <div class="row">
            <div class="col-xs-12 p-y-3 ">
                <ul class="nav navbar-nav text-xs-center">
                    <li class="nav-item">
                        <a href="/#" class="nav-link">About us </a>     
                    </li>
                    <li class="nav-item">
                        <a href="/#" class="nav-link">Jobs</a>     
                    </li>
                    <li class="nav-item">
                        <a href="/#" class="nav-link">Agency</a>     
                    </li>
                    <li class="nav-item">
                        <a href="/#" class="nav-link">Environment</a>     
                    </li>
                    <li class="nav-item">
                        <a href="/#" class="nav-link">History</a>     
                    </li>
                    <li class="nav-item">
                        <a href="/#" class="nav-link">Contact</a>     
                    </li>
                </ul>
            </div>
        </div>
    </div> #}

</div>