[viewBag]

[staticMenu main]
code = "main"
==
<div class="navbar-wrapper bg-body navbar-fixed-top">
    <div class="container hidden-sm-down ">
        <nav class="navbar navbar-light" id="navbar-main">
            <a href="/" class="navbar-brand">&nbsp;</a>
            {% partial 'navigation/navbar-items' 
                items=main.menuItems 
                class='nav navbar-nav pull-xs-right hidden-sm-down'
                itemClass='nav-item'
            %}
        </nav>
    </div>
</div>