[viewBag]
snippetCode = "press_releases"
snippetName = "Press Releases"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "press-releases"
postsPerPage = 3
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "press-releases"
postPage = "press-releases"
==
<?php
function onEnd(){

 //   var_dump($posts);
 
}
?>
==
<div id="press-releases" data-target="#press-releases"> 

    <div class="container text-xs-center p-y-3">

        <div class="row">
            <div class="col-xs-12 section-headline-text  p-y-3" >
                <div class="border-top"></div>
                <h3 class="text-xs-left">Press Releases</h3>               
            </div>
        </div>


        <div class="row">

            {% for post in posts %}

                <div class="col-xs-12 col-md-4">
                    <div class="card card-block">

                        {% if post.featured_images.count %}
                            <div class="featured-images text-center">
                                {% for image in post.featured_images %}
                                    <img 
                                        data-src="{{ image.filename }}"
                                        src="{{ image.path }}"
                                        alt="{{ image.description }}"
                                        style="max-width: 100%" />
                                {% endfor %}
                            </div>
                        {% else%}
                            <img src="http://placehold.it/340x173"/>
                        {% endif %}

          

                        <div class="text-sm-right">{{ post.published_at|date('M d, Y') }}</div>
                        <h4 class="card-title text-lg-left">{{ post.title }}</h4>
                        <div class='overview-content-container'>
                            {{ post.summary }}
                        </div>
                        <div class="learn-more center-block text-xs-right">
                            <a href="{{ post.url }}" class="">read more</a>
                        </div>
                    </div>
                </div>

            {% else %}
                <div class="no-data">{{ noPostsMessage }}</div>
            {% endfor %}
                
        </div>
</div>