[viewBag]
==
<div class="container m-y-3 footer hidden-md-down footer-contact-container">
	<div>
		{% partial 'footer/_footer_contact_cuxhaven' %}
	</div>
	<div>
		{% partial 'footer/_footer_contact_sassnitz' %}
	</div>
</div>


<div class="container m-y-3 footer hidden-lg-up hidden-xs-down footer-contact-container-small" >
	<div>
		<div class="m-b-3">
			{% partial 'footer/_footer_contact_sassnitz' %}
		</div>
	</div>
	<div>
		<div class="m-b-3">
			{% partial 'footer/_footer_contact_cuxhaven' %}
		</div>
	</div>
</div>


<div class="container m-y-3 footer hidden-xs-down hidden-sm-up " >
	<div>
		{% partial 'footer/_footer_contact_cuxhaven' %}
	</div>
	<div>
		{% partial 'footer/_footer_contact_sassnitz' %}
	</div>
</div>

{# FOOTER XS #}
<div class="container m-y-3 footer hidden-sm-up footer-contact-container footer-contact-container-xs">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-lg-6">
			<div class="column">
				{% partial 'footer/_footer_contact_cuxhaven' %}
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-6">
			<div class="column">
				{% partial 'footer/_footer_contact_sassnitz' %}
			</div>
		</div>
	</div>
</div>