[viewBag]
==

{#
die letzte spalte soll rechtsbuendig sein mit dem Inhalt darueber
noch nicht ok !!!
#}
<style>

#footer-contact-container{
	display:flex;
	justify-content: space-between;
}

#footer-contact-container .row > div{
	/*border-right : 1px solid ;*/
/*	height:200px;*/
}


</style>

<div class="container m-y-3 footer hidden-md-down" id="footer-contact-container">
		
		<div>
			<p>Bremen</p>
			<div><b>{{ this.theme.location_bremen }}</b></div>
			<div>{{ this.theme.location_bremen1 }}</div>
			<div>{{ this.theme.location_bremen2 }}</div>
			<p>{{ this.theme.location_bremen3 }}</p>
			<div>{{ this.theme.location_bremen4 }}</div>
			<div>{{ this.theme.location_bremen5 }}</div>
		</div>

		<div>
			<p>Cuxhaven</p>
			<div><b>{{ this.theme.location_cuxhaven }}</b></div>
			<div>{{ this.theme.location_cuxhaven1 }}</div>
			<div>{{ this.theme.location_cuxhaven2 }}</div>
			<p>{{ this.theme.location_cuxhaven3 }}</p>
			<div>{{ this.theme.location_cuxhaven4 }}</div>
			<div>{{ this.theme.location_cuxhaven5 }}</div>
		</div>

		<div>
			<p>Sassnitz</p>
			<div><b>{{ this.theme.location_sassnitz }}</b></div>
			<div>{{ this.theme.location_sassnitz1 }}</div>
			<div>{{ this.theme.location_sassnitz2 }}</div>
			<p>{{ this.theme.location_sassnitz3 }}</p>
			<div>{{ this.theme.location_sassnitz4 }}</div>
			<div>{{ this.theme.location_sassnitz5 }}</div>
		</div>

		<div>
			<p>Zeebrugge</p>
			<div><b>{{ this.theme.location_zeebrugge }}</b></div>
			<div>{{ this.theme.location_zeebrugge1 }}</div>
			<div>{{ this.theme.location_zeebrugge2 }}</div>
			<p>{{ this.theme.location_zeebrugge3 }}</p>
			<div>{{ this.theme.location_zeebrugge4 }}</div>
			<div>{{ this.theme.location_zeebrugge5 }}</div>
		</div>

</div>

<div class="container m-y-3 footer hidden-lg-up hidden-xs-down footer-contact-container-small" >

	<div>	
		<div>
			<p>Bremen</p>
			<div><b>BREB GmbH & Co.KG</b></div>
			<div>Universitätsallee 5 </div>
			<p>28359 Bremen</p>
			<div>Tel. +49 (0)421 32278-0 </div>
			<div>Fax +49 (0)421 32278-78</div>
		</div>

		<div>
			<p>Cuxhaven</p>
			<div><b>BREB GmbH & Co.KG</b></div>
			<div>Havenhostel Cuxhaven </div>
			<div>Kpt.-Alexander-Str. 16</div>
			<p>27472 Cuxhaven</p>
			<div>Tel. +49 (0)4721 590 54 0</div>
			<div>Fax +49 (0)4721 590 54 99</div>
		</div>
	</div>
	<div>
		<div>
			<p>Sassnitz</p>
			<div><b>BREB GmbH & Co.KG</b></div>
			<div>Hafeneingangsgebäude Sassnitz</div>
			<div>Fährhafen 20b</div>
			<p>18546 Sassnitz</p>
			<div>Tel. +49 (0)38392 55 44 0</div>
		</div>

		<div>
			<p>Zeebrugge</p>
			<div><b>BREB Belgium bvba</b></div>
			<div>Rederskaai 30</div>
			<div>8380 Zeebrugge</div>
		</div>
	</div>
</div>


<div class="container m-y-3 footer hidden-xs-down hidden-sm-up " >

		<div>
			<p>Bremen</p>
			<div><b>BREB GmbH & Co.KG</b></div>
			<div>Universitätsallee 5 </div>
			<p>28359 Bremen</p>
			<div>Tel. +49 (0)421 32278-0 </div>
			<div>Fax +49 (0)421 32278-78</div>
		</div>

		<div>
			<p>Cuxhaven</p>
			<div><b>BREB GmbH & Co.KG</b></div>
			<div>Havenhostel Cuxhaven </div>
			<div>Kpt.-Alexander-Str. 16</div>
			<p>27472 Cuxhaven</p>
			<div>Tel. +49 (0)4721 590 54 0</div>
			<div>Fax +49 (0)4721 590 54 99</div>
		</div>


		<div>
			<p>Sassnitz</p>
			<div><b>BREB GmbH & Co.KG</b></div>
			<div>Hafeneingangsgebäude Sassnitz</div>
			<div>Fährhafen 20b</div>
			<p>18546 Sassnitz</p>
			<div>Tel. +49 (0)38392 55 44 0</div>
		</div>

		<div>
			<p>Zeebrugge</p>
			<div><b>BREB Belgium bvba</b></div>
			<div>Rederskaai 30</div>
			<div>8380 Zeebrugge</div>
		</div>

</div>




<div class="container m-y-3 footer hidden-sm-up" id="footer-contact-container">
	<div class="row">
		<div class="col-xs- col-sm-6 col-lg-3 column-1" >
			<div class="column">
				<p>Bremen</p>
				<div><b>BREB GmbH & Co.KG</b></div>
				<div>Universitätsallee 5 </div>
				<p>28359 Bremen</p>
				<div>Tel. +49 (0)421 32278-0 </div>
				<div>Fax +49 (0)421 32278-78</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-3 column-2">
			<div class="column">
				<p>Cuxhaven</p>
				<div><b>BREB GmbH & Co.KG</b></div>
				<div>Havenhostel Cuxhaven </div>
				<div>Kpt.-Alexander-Str. 16</div>
				<p>27472 Cuxhaven</p>
				<div>Tel. +49 (0)4721 590 54 0</div>
				<div>Fax +49 (0)4721 590 54 99</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-lg-3 column-3">
			<div class="column">
				<p>Sassnitz</p>
				<div><b>BREB GmbH & Co.KG</b></div>
				<div>Hafeneingangsgebäude Sassnitz</div>
				<div>Fährhafen 20b</div>
				<p>18546 Sassnitz</p>
				<div>Tel. +49 (0)38392 55 44 0</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-lg-3 column-4">
			<div class="column">
				<p>Zeebrugge</p>
				<div><b>BREB Belgium bvba</b></div>
				<div>Rederskaai 30</div>
				<div>8380 Zeebrugge</div>
			</div>
		</div>
	</div>
</div>
