[viewBag]
snippetCode = "footer_brand"
snippetName = "Footer Brand"
==
<div class="container footer m-t-3 p-t-3" id="footer-brand-logo-container">
    <hr>
    
    <div class="row">
        <a href="/">
            <div class="col-xs-12">
                {#{% content 'overview/FooterBrand.htm' %}  300 col-xs-4 p-x-0 p-y-0 col-xs-offset-4#}
                <p><img class="fr-dib fr-draggable" src="{{ this.theme.secondary_brand | media }}"></p>
            </div>
        </a>
    </div>

</div>