[viewBag]
==

{#
die letzte spalte soll rechtsbuendig sein mit dem Inhalt darueber
noch nicht ok !!!
#}
<style>
#footer-contact-container .row > div{
	/*border-right : 1px solid ;*/
/*	height:200px;*/
}
</style>

<div class="container m-y-3 footer" id="footer-contact-container">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-lg-3">
			<div class="column">
				<p>Bremen</p>
				<div><b>BREB GmbH & Co.KG</b></div>
				<div>Universitätsallee 5 </div>
				<p>28359 Bremen</p>
				<div>Tel. +49 (0)421 32278-0 </div>
				<div>Fax +49 (0)421 32278-78</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-3">
			<div class="column">
				<p>Cuxhaven</p>
				<div><b>BREB GmbH & Co.KG</b></div>
				<div>Havenhostel Cuxhaven </div>
				<div>Kpt.-Alexander-Str. 16</div>
				<p>27472 Cuxhaven</p>
				<div>Tel. +49 (0)4721 590 54 0</div>
				<div>Fax +49 (0)4721 590 54 99</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-lg-3">
			<div class="column">
				<p>Sassnitz</p>
				<div><b>BREB GmbH & Co.KG</b></div>
				<div>Hafeneingangsgebäude Sassnitz</div>
				<div>Fährhafen 20b</div>
				<p>18546 Sassnitz</p>
				<div>Tel. +49 (0)38392 55 44 0</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-lg-3">
			<div class="column">
				<p>Zeebrugge</p>
				<div><b>BREB Belgium bvba</b></div>
				<div>Rederskaai 30</div>
				<div>8380 Zeebrugge</div>
			</div>
		</div>
	</div>
</div>

{#
	<div class="row">
		<div class="col-xs-3">
			 <p>Bremen</p>
			 <div><b>BREB GmbH & Co.KG</b></div>
			 <div>Universitätsallee 5 </div>
			 <p>28359 Bremen</p>
			 <div>Tel. +49 (0)421 32278-0 </div>
			 <div>Fax +49 (0)421 32278-78</div>
		</div>
		<div class="col-xs-3">
			 <p>Cuxhaven</p>
			 <div><b>BREB GmbH & Co.KG</b></div>
			 <div>Havenhostel Cuxhaven </div>
			 <div>Kpt.-Alexander-Str. 16</div>
			 <p>27472 Cuxhaven</p>
			 <div>Tel. +49 (0)4721 590 54 0</div>
			 <div>Fax +49 (0)4721 590 54 99</div>
		</div>
		<div class="col-xs-3">
			 <p>Sassnitz</p>
			 <div><b>BREB GmbH & Co.KG</b></div>
			 <div>Hafeneingangsgebäude Sassnitz</div>
			 <div>Fährhafen 20b</div>
			 <p>18546 Sassnitz</p>
			 <div>Tel. +49 (0)38392 55 44 0</div>
		</div>
		<div class="col-xs-3">
			 <p>Zeebrugge</p>
			 <div><b>BREB Belgium bvba</b></div>
			 <div>Rederskaai 30</div>
			 <div>8380 Zeebrugge</div>
		</div>
	</div>

#}