[viewBag]
==
<ul class="list-danger row p-l-1 hidden-xs-down">
    <div class="col-xs-4 p-r-0">
        <li>Aveiro</li>
        <li>Setubal</li>
        <li>Cadiz</li>
        <li>Huelva</li>
        <li>Almeria</li>
        <li>Cartagena</li>
        <li>Barcelona</li>
        <li>Sete</li>
        <li>Taranto</li>
        <li>Brindisi</li>
        <li>Monopoli</li>
        <li>Ravenna</li>
        <li>Chioggia</li>
    </div>
    <div class="col-xs-4 p-r-0">
        <li>Porto Marghera</li>
        <li>Monfalcone</li>
        <li>Koper</li>
        <li>Rijeka</li>
        <li>Split</li>
        <li>Taranto</li>
        <li>Misurata</li>
        <li>Al-Khums</li>
        <li>Tripolis</li>
        <li>Sfax</li>
        <li>Sousse</li>
        <li>Bizerte</li>
        <li>Zarzis</li>
    </div>
    <div class="col-xs-4 p-r-0">
        <li>Annaba</li>
        <li>Skikda</li>
        <li>Tenes</li>
        <li>Algier</li>
        <li>Oran</li>
        <li>Bejaia</li>
        <li>Djen Djen</li>
        <li>Mostaganem</li>
        <li>Arzew</li>
        <li>Ghazaouet</li>
        <li>Nador</li>
        <li>Casablanca</li>
        <li>Agadir</li>
    </div>
</ul>


<ul class="list-danger row p-l-1 hidden-sm-up">
    <div class="col-xs-6 p-r-0"><li>Aveiro</li>
        <li>Setubal</li>
        <li>Cadiz</li>
        <li>Huelva</li>
        <li>Almeria</li>
        <li>Cartagena</li>
        <li>Barcelona</li>
        <li>Sete</li>
        <li>Taranto</li>
        <li>Brindisi</li>
        <li>Monopoli</li>
        <li>Ravenna</li>
        <li>Chioggia</li>
        <li>Porto Marghera</li>
        <li>Monfalcone</li>
        <li>Koper</li>
        <li>Rijeka</li>
        <li>Split</li>
        <li>Taranto</li>
        <li>Misurata</li>
    </div>
    <div class="col-xs-6 p-r-0">
        <li>Al-Khums</li>
        <li>Tripolis</li>
        <li>Sfax</li>
        <li>Sousse</li>
        <li>Bizerte</li>
        <li>Zarzis</li>
        <li>Annaba</li>
        <li>Skikda</li>
        <li>Tenes</li>
        <li>Algier</li>
        <li>Oran</li>
        <li>Bejaia</li>
        <li>Djen Djen</li>
        <li>Mostaganem</li>
        <li>Arzew</li>
        <li>Ghazaouet</li>
        <li>Nador</li>
        <li>Casablanca</li>
        <li>Agadir</li>
    </div>
</ul>