[viewBag]
==
<ul class="list-danger row p-l-1">
    <div class="col-xs-4 p-r-0">
        <li>Koper</li>
        <li>Rijeka</li>
        <li>Monfalcone</li>
        <li>Porto Marghera</li>
        <li>Chioggia</li>
        <li>Ravenna</li> 
        <li>Split</li>
        <li>Taranto</li>
        <li>Misurata</li>
        <li>Al-Khums</li>
    </div>
    <div class="col-xs-4 p-r-0">
        <li>Tripolis</li>
        <li>Sfax</li>
        <li>Sousse</li>
        <li>Bizerte</li>
        <li>Zarzis</li>
        <li>Annaba</li>
        <li>Skikda</li>
        <li>Tenes</li>
        <li>Algier</li>
    </div>
    <div class="col-xs-4 p-r-0">
        <li>Oran</li>
        <li>Bejaia</li>
        <li>Djen Djen</li>
        <li>Mostaganem</li>
        <li>Arzew</li>
        <li>Ghazaouet</li>
        <li>Nador</li>
        <li>Casablanca</li>
        <li>Agadir</li>
    </div>
</ul>