[viewBag]
==
{#<div class="container m-y-3 footer hidden-md-down footer-contact-container" id="footer-contact-container">
	<div>xl
		{% partial 'footer/_footer_contact_cuxhaven' %}
	</div>
	<div>
		{% partial 'footer/_footer_contact_sassnitz' %}
	</div>
</div>#}

{# MD #}
<div class="container m-y-3 footer hidden-sm-down p-y-3" id="contact-container-md">
	<div>
		<div class="m-b-3">
			{% partial 'footer/_footer_contact_sassnitz' %}
		</div>
	</div>
	<div>
		<div class="m-b-3">
			{% partial 'footer/_footer_contact_cuxhaven' %}
		</div>
	</div>
</div>

{# SM #}
<div class="container m-y-3 footer hidden-md-up hidden-xs-down" id="contact-container-sm" >
	<div>
		<div class="m-b-3">
			{% partial 'footer/_footer_contact_sassnitz' %}
		</div>
	</div>
	<div>
		<div class="m-b-3">
			{% partial 'footer/_footer_contact_cuxhaven' %}
		</div>
	</div>
</div>

{# XS #}
<div class="container m-y-3 footer hidden-sm-up" id="contact-container-xs">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-lg-3">
			<div class="column">
				{% partial 'footer/_footer_contact_cuxhaven' %}
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-3">
			<div class="column">
				{% partial 'footer/_footer_contact_sassnitz' %}
			</div>
		</div>
	</div>
</div>