[viewBag]
==
<ul class="list-primary row p-l-1">
    <div class="col-xs-4 p-r-0">
        <li>Ventspils</li>
        <li>Liepaja</li>
        <li>Riga</li>
        <li>Sassnitz</li>
        <li>Rostock</li>
        <li>Wismar</li>
        <li>Brake</li>
        <li>Amsterdam</li>
        <li>Rotterdam</li>
        <li>(Grimsby)</li>
        <li>Antwerpen</li>
        <li>Gent</li>
        <li>Rouen</li>
        <li>Bayonne</li>
        <li>Bilbao</li>
        <li>Almeria</li>
        <li>Aveiro</li>
    </div>
    <div class="col-xs-4 p-r-0">
        <li>Lissabon</li>
        <li>Setubal</li>
        <li>Barcelona</li>
        <li>Cartagena</li>
        <li>Castella</li>
        <li>Alicante</li>
        <li>Garrucha</li>
        <li>Tarragona</li>
        <li>Cagliari</li>
        <li>Monfalcone</li>
        <li>Triest</li>
        <li>Split</li>
        <li>Agadir</li>
        <li>Casablanca</li>
        <li>Nador</li>
        <li>Ghazaouet</li>
    </div>
    <div class="col-xs-4 p-r-0">
        <li>Arzew</li>
        <li>Mostaganem</li>
        <li>Djen Djen</li>
        <li>Bejaia</li>
        <li>Oran</li>
        <li>Algier</li>
        <li>Tenes</li>
        <li>Skikda</li>
        <li>Annaba</li>
        <li>Zarzis</li>
        <li>Bizerte</li>
        <li>Sousse</li>
        <li>Sfax</li>
        <li>Tripolis</li>
        <li>Al-Khums</li>
        <li>Misurata</li>
    </div>
</ul>