[viewBag]
==
<div class="row p-y-3 text-xs-center">
    <div class="col-xs-12">
        <h2 class="text-serif text-primary">The Lines</h2>
    </div>
    
    <div class="col-xs-12 col-lg-5">
        <div class="card card-inverse card-primary text-xs-left">
          <div class="card-header p-b-0">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#">Route Part 1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Route Part 2</a>
              </li>
            </ul>
          </div>
          
          <div class="card-block">
            <h4 class="card-title">Route Part 1</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
    </div>
        
    <div class="col-xs-12 col-lg-7">
        <img src="{{this.theme.linerservices_lines | media}}" class="img-fluid" alt="Or lines">
    </div>
    
</div>


<div class="col-xs-12 col-md-6 col-md-offset-6">


    
</div>