[viewBag]
snippetCode = "about"
snippetName = "About"
==
<div id="about" data-target="#about"> 

        <div class="row">
  
            <div class="col-xs-12 col-md-5 section-headline-text" >
                <div class="border-top"></div>
                <h3 class="text-xs-left text-serif">{{ this.page.title }}</h3>  
            </div>
            
            <div class="col-xs-12 col-md-7">
                {% content 'about.htm' %}
            </div>
        </div>
    </div>

</div>