[viewBag]
snippetCode = "liner_services"
snippetName = "Liner Services"

[slideshow gallerySlideshow]
slideshow = 3
injectSlickAssets = 0
injectSlickTheme = 0
injectJLSlideshowCSS = 0
injectJQuery = 0
aspectRatio = "ratio-16-9"
captionPosition = "middle center"
adaptiveHeight = 0
centerMode = 1
centerPadding = "0px"
autoplayOnShow = 1
nextSlideOnEnd = 1
autoplay = 0
fade = 0
infinite = 1
slidesToShow = 1
rtl = 0
waitForAnimate = 1
accessibility = 1
arrows = 1
asNavFor = "#gallerySlideshow2"
dots = 0
draggable = 1
focusOnSelect = 0
pauseOnFocus = 1
pauseOnHover = 1
pauseOnDotsHover = 0
swipe = 1
swipeToSlide = 0
touchMove = 1
verticalSwiping = 0
mobileFirst = 0
respondTo = "window"
responsive = ""
useCSS = 1
useTransform = 1
variableWidth = 0
vertical = 0

[slideshow gallerySlideshow2]
slideshow = 3
injectSlickAssets = 0
injectSlickTheme = 0
injectJLSlideshowCSS = 0
injectJQuery = 0
aspectRatio = "ratio-16-9"
captionPosition = "middle center"
adaptiveHeight = 0
centerMode = 0
centerPadding = 0
autoplayOnShow = 1
nextSlideOnEnd = 1
autoplay = 0
fade = 0
infinite = 1
slidesPerRow = 3
slidesToShow = 3
rtl = 0
waitForAnimate = 1
accessibility = 1
arrows = 0
asNavFor = "#gallerySlideshow"
dots = 0
draggable = 1
focusOnSelect = 1
pauseOnFocus = 1
pauseOnHover = 1
pauseOnDotsHover = 0
swipe = 1
swipeToSlide = 0
touchMove = 1
verticalSwiping = 0
mobileFirst = 0
respondTo = "window"
useCSS = 1
useTransform = 1
variableWidth = 0
vertical = 0
==
<div id="liner-services" data-target="#liner-services"> 
    
        <div class="row">
            
			<div class="col-xs-12 col-md-5 section-headline-text" >
				<div class="border-top"></div>
				<h3 class="text-xs-left text-serif">{{ this.page.title }}</h3>  
				<div id="liner-services-content-container" class="p-y-3">             
					{% content 'liner_services.htm' %}
				</div>
			</div>
						
			<div class="col-xs-12 col-md-7" id="liner-services-sliedeshow-container">

				<a id="demo01" href="#animatedModal">fullscreen</a>
		
				<div id="animatedModal">
					<!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
					<div class="close-animatedModal text-xs-center" style="color:white"> 
						CLOSE MODAL
					</div>
						
					<div class="modal-content">
						{% partial 'fullscreen_slideshow' %}
					</div>
				</div>
		
				{% component 'gallerySlideshow' %}
				{% component 'gallerySlideshow2' %}
			
			</div>
			
        </div>


        <div class="row p-y-3 text-xs-center">
            <h3 class="text-serif">The Lines</h3>
            Lines Image comes here
        </div>



</div>