[viewBag]
snippetCode = "liner_services"
snippetName = "Liner Services"

[slideshow linerServicesSlideshowHTML1]
slideshow = 3
initAuto = 0
includeHTML = 1
includeJavaScript = 0
injectSlickAssets = 1
injectSlickTheme = 1
injectJLSlideshowCSS = 1
injectJQuery = 0
showCaptions = 1
captionPosition = "middle center"
autoplayOnShow = 1
nextSlideOnEnd = 1
accessibility = 1
adaptiveHeight = 0
autoplay = 0
arrows = 1
centerMode = 0
centerPadding = "0px"
dots = 0
draggable = 1
fade = 0
focusOnSelect = 0
infinite = 1
mobileFirst = 0
pauseOnFocus = 1
pauseOnHover = 1
pauseOnDotsHover = 0
respondTo = "window"
slidesToShow = 1
swipe = 1
swipeToSlide = 0
touchMove = 1
useCSS = 1
useTransform = 1
variableWidth = 0
vertical = 0
verticalSwiping = 0
rtl = 0
waitForAnimate = 1

[slideshow linerServicesSlideshowHTML2]
slideshow = 3
initAuto = 0
includeHTML = 1
includeJavaScript = 0
injectSlickAssets = 0
injectSlickTheme = 0
injectJLSlideshowCSS = 0
injectJQuery = 0
showCaptions = 1
captionPosition = "middle center"
adaptiveHeight = 0
centerMode = 0
centerPadding = "0px"
autoplayOnShow = 1
nextSlideOnEnd = 1
autoplay = 0
fade = 0
infinite = 1
slidesPerRow = 1
slidesToShow = 3
rtl = 0
waitForAnimate = 1
accessibility = 1
arrows = 1
dots = 0
draggable = 1
focusOnSelect = 0
pauseOnFocus = 1
pauseOnHover = 1
pauseOnDotsHover = 0
swipe = 1
swipeToSlide = 0
touchMove = 1
verticalSwiping = 0
mobileFirst = 0
respondTo = "window"
useCSS = 1
useTransform = 1
variableWidth = 0
vertical = 0

[slideshow fullscreenLinerServicesSlideshowHTML]
slideshow = 3
initAuto = 0
includeHTML = 1
includeJavaScript = 0
injectSlickAssets = 0
injectSlickTheme = 0
injectJLSlideshowCSS = 0
injectJQuery = 0
showCaptions = 1
captionPosition = "middle center"
adaptiveHeight = 0
centerMode = 0
centerPadding = "0px"
autoplayOnShow = 1
nextSlideOnEnd = 1
autoplay = 0
fade = 0
infinite = 1
slidesToShow = 1
rtl = 0
waitForAnimate = 1
accessibility = 1
arrows = 1
dots = 0
draggable = 1
focusOnSelect = 0
pauseOnFocus = 1
pauseOnHover = 1
pauseOnDotsHover = 0
swipe = 1
swipeToSlide = 0
touchMove = 1
verticalSwiping = 0
mobileFirst = 0
respondTo = "window"
useCSS = 1
useTransform = 1
variableWidth = 0
vertical = 0
==
<div id="liner-services" data-target="#liner-services"> 
    
        <div class="row">
            
			<div class="col-xs-12 col-md-5 section-headline-text" >
				<div class="border-top"></div>
				<h3 class="text-xs-left text-serif">{{ this.page.title }}</h3>  
				<div id="liner-services-content-container" class="p-y-3">             
					{% content 'liner_services.htm' %}
				</div>
			</div>
						
			<div class="col-xs-12 col-md-7" id="liner-services-slideshow-container">

				<a class="hidden-xs-down" id="fullscreenButton" href="#animatedModal"></a>
		
				<div id="animatedModal">
					{#THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal"#}
					<div class="close-animatedModal text-xs-center" style="color:white"></div>
						
					<div class="modal-content">
						{% component 'fullscreenLinerServicesSlideshowHTML' %}
					</div>
					
				</div>
				<script>
					var gallerySlideshowResponsive= [
						{
							breakpoint: 768,
								settings: {
									arrows: 0,
									caption:0
								}
						}
					]
				</script>
				
				{% component 'linerServicesSlideshowHTML1' %} 
				{% component 'linerServicesSlideshowHTML2' %} 
				
				<script>
					var gallerySlideshow2Responsive= [
						// {
						// 	breakpoint: 1024,
						// 	settings: {
						// 		slidesToShow: 3,
						// 		slidesToScroll: 3,
						// 		infinite: true,
						// 		dots: true
						// 	}
						// },
						// {
						// 	breakpoint: 632,
						// 		settings: {
						// 			slidesToShow: 2,
						// 			slidesToScroll: 2
						// 		}
						// },
						// {
						// 	breakpoint: 480,
						// 		settings: {
						// 			slidesToShow: 1,
						// 			slidesToScroll: 1
						// 		}
						// }
					]
				</script>
				
			
			</div>
			
        </div>


        <div class="row p-y-3 text-xs-center">
            <h3 class="text-serif">The Lines</h3>
            Lines Image comes here
        </div>



</div>