[viewBag]
snippetCode = "liner_services"
snippetName = "Liner Services"

[slideshow slideshowHTML]
slideshow = 3
initAuto = 0
includeHTML = 1
includeJavaScript = 0
injectSlickAssets = 0
injectSlickTheme = 0
injectJLSlideshowCSS = 0
injectJQuery = 0
aspectRatio = "ratio-4-3"
showCaptions = 1
captionPosition = "middle center"
adaptiveHeight = 0
centerMode = 0
centerPadding = "0px"
autoplayOnShow = 1
nextSlideOnEnd = 1
autoplay = 0
fade = 0
infinite = 1
slidesToShow = 1
rtl = 0
waitForAnimate = 1
accessibility = 1
arrows = 1
dots = 0
draggable = 1
focusOnSelect = 0
pauseOnFocus = 1
pauseOnHover = 1
pauseOnDotsHover = 0
swipe = 1
swipeToSlide = 0
touchMove = 1
verticalSwiping = 0
useResize = 1
thumbWidth = 1024
thumbHeight = 768
thumbMode = "crop"
thumbQuality = 95
thumbFiletype = "jpg"
mobileFirst = 0
respondTo = "window"
useCSS = 1
useTransform = 1
variableWidth = 0
vertical = 0

[slideshow subSlideshowHTML]
slideshow = 3
initAuto = 0
includeHTML = 1
includeJavaScript = 0
injectSlickAssets = 0
injectSlickTheme = 0
injectJLSlideshowCSS = 0
injectJQuery = 0
aspectRatio = "ratio-4-3"
showCaptions = 1
captionPosition = "middle center"
adaptiveHeight = 0
centerMode = 0
centerPadding = "0px"
autoplayOnShow = 1
nextSlideOnEnd = 1
autoplay = 0
fade = 0
infinite = 1
slidesPerRow = 1
slidesToShow = 3
rtl = 0
waitForAnimate = 1
accessibility = 1
arrows = 1
dots = 0
draggable = 1
focusOnSelect = 0
pauseOnFocus = 1
pauseOnHover = 1
pauseOnDotsHover = 0
swipe = 1
swipeToSlide = 0
touchMove = 1
verticalSwiping = 0
useResize = 1
thumbWidth = 1024
thumbHeight = 768
thumbMode = "crop"
thumbQuality = 95
thumbFiletype = "jpg"
mobileFirst = 0
respondTo = "window"
useCSS = 1
useTransform = 1
variableWidth = 0
vertical = 0

[slideshow fullscreenSlideshowHTML]
slideshow = 3
initAuto = 0
includeHTML = 1
includeJavaScript = 0
injectSlickAssets = 0
injectSlickTheme = 0
injectJLSlideshowCSS = 0
injectJQuery = 0
showCaptions = 1
captionPosition = "middle center"
adaptiveHeight = 0
centerMode = 0
centerPadding = "0px"
autoplayOnShow = 1
nextSlideOnEnd = 1
autoplay = 0
fade = 0
infinite = 1
slidesToShow = 1
rtl = 0
waitForAnimate = 1
accessibility = 1
arrows = 1
dots = 0
draggable = 1
focusOnSelect = 0
pauseOnFocus = 1
pauseOnHover = 1
pauseOnDotsHover = 0
swipe = 1
swipeToSlide = 0
touchMove = 1
verticalSwiping = 0
useResize = 1
thumbWidth = 1280
thumbHeight = 0
thumbMode = "auto"
thumbQuality = 95
thumbFiletype = "jpg"
mobileFirst = 0
respondTo = "window"
useCSS = 1
useTransform = 1
variableWidth = 0
vertical = 0
==
<?php
function onStart() {
	//dump( $this->theme->liner_services_downloads );
}
?>
==
<div id="liner-services" data-target="#liner-services"> 
    
        <div class="row">
            
			<div class="col-md-12 col-lg-5 section-headline-text" >

				<div class="border-top"></div>
				<h3 class="text-xs-center text-sm-left text-serif">{{ this.page.title }}</h3>  
				
				<div id="liner-services-content-container" class="p-y-3">
					
					<div class="p-b-3">             
						{% content 'liner_services.htm' %}
					</div>
					
					{% partial '/subpages/_downloads' 
						downloads = this.theme.liner_services_downloads
						zipFileName = 'Breb Liner-Services Documents.zip'
					%}

				</div>

			</div>
						
			<div class="col-md-12 col-lg-7 slideshow-container" >
				
				{% partial '/subpages/_animated_modal' 
					fullscreenButtonID = 'linerServicesFullscreenButton'
					name = 'linerServicesAnimatedModal'
					modalContent = 'fullscreenSlideshowHTML'
				%}

				<script>
					var gallerySlideshowResponsive= [
						{
							breakpoint: 768,
								settings: {
									arrows: 0,
									caption:0
								}
						}
					]
				</script>
				
				{% component 'slideshowHTML' %}
				{% component 'subSlideshowHTML' %}

				<script>
					var gallerySlideshow2Responsive= [
					]
				</script>
				
			
			</div>
			
        </div>


</div>