/*
 * CONTACT  ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
**/
#contact {

	.row {
		.container {
			
			&#contact-container-md {

			}

			&#contact-container-sm, &#contact-container-md {
				> div:first-child > div {
					border-right: 1px solid $brand-primary;
					@include media-breakpoint-up(md) {
						padding-right: 153px //perfect center
					}
					@include media-breakpoint-down(sm) {
						padding-right:81px //perfect center
					}
				}
				div {
					h6 {
						color: $brand-danger;
						font-weight:700;
						&#cuxhaven {
							color: $brand-primary;
							img {
								width: 11px;
								margin-top: -4px;
							}
						}
					}
				}	
			}

			&#contact-container-xs {
				display:flex;
				justify-content: space-between;
				line-height: 20px;
				div {
					h6 {
						color: $brand-danger;
						font-weight:700;
						&#cuxhaven {
							color: $brand-primary;
							img {
								width: 11px;
								margin-top: -4px;
							}
						}
					}
				}
				&::after {
					content:none;
				}
				> div:not(:last-child) {
					border-right: 1px solid $brand-primary;
				}
				.row {
					//margin-left:3%;
					// all items get right border except the last 
					> div{
						height:210px;

						border-right : 1px solid $brand-primary;

						@include media-breakpoint-down(xs) {
							border-right : none !important;
							.column {
								padding-left: 30%;
							}
						}
					}
				}
			}




		}
	}

}