@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i';
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic);

//font-family-sans-serif-italic
@font-face {
    font-family: Yrsa-Medium ;
    src: url('/#{$theme-folder}/assets/fonts/Yrsa-Medium.ttf');
}

@font-face {
    font-family: Yrsa-Light ;
    src: url('/#{$theme-folder}/assets/fonts/Yrsa-Light.ttf');
}

@font-face {
    font-family: Yrsa-Regular ;
    src: url('/#{$theme-folder}/assets/fonts/Yrsa-Regular.ttf');
}