@font-face { 
    font-family: OpenSansRegular; 
    src: url(//breb.jumplink.eu/themes/breb/assets/fonts/OpenSans/OpenSans-Regular.ttf); 
}

@font-face { 
    font-family: PlayfairDisplayRegular; 
    src: url(//breb.jumplink.eu/themes/breb/assets/fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf); 
}