/*
 * FOOTER  ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
**/
.footer {
	display:flex;
	justify-content: center;

	&::after{
		content:none;
	}

	&.footer-brand-logo-container {
		.image-wrapper {
			border-top:1px solid $brand-primary;
			p{
				img{
					max-width: 38% !important;
					min-width: 263px;
				}
			}
		}
	}

	&#footer-navigation-wrapper{
		background-color: $gray-lighter;
	}


	
	&#footer-legal-wrapper {
	    background-color: #033c6b;
		a{
			color: white;
		}
	}

	.footer-navigation-container {
		text-align: center;
	}

	.footer-navigation-container a {
		margin:10px;
	}


	&.footer-contact-container {
		display:flex;
		justify-content: center;
		line-height: 20px;
		div {
			h6 {
				color: $brand-danger;
				font-weight:700;
				&.cuxhaven {
					color: $brand-primary;
					img {
						width: 11px;
						margin-top: -4px;
					}
				}
			}
		}


		[class^="col-"]:not(:last-child) {
			border-right: 1px solid $brand-primary;
			@include media-breakpoint-down(xs) {
				border-right : none !important;
			}
		}


	}
}

#footer-certificates-container {
	.row {
		text-align: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
		justify-content: center;
        
        .col-auto {
            float: left;
            width: auto;
        }
		
		.certificates-row {
		    // border-right: solid 1px black;
		    img { 
    			display: inline !important;
    			height: 80px;
		    }
		}
		.sozial-row {

		    a {
		        color: black;
		        svg { 
        			display: inline !important;
        			height: 50px;
        			
    		    }
    		    &:hover, &:focus {
		            color: white;
    		    }
		    }
		}
	}
}
