.bg-body {
    background-color: $body-bg;
}

// note aspect ratio is defined in _slideshow

.text-sans-serif {
  font-family: $font-family-sans-serif;
}

.text-serif {
  font-family: $font-family-serif;
}