/*
 * HOMEPAGE –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
**/
#home, #bluewaterbreb {

	.overview-content-container {
		margin-top: 1.5rem;
		text-align: center;
	}
	#overview {
		.learn-more {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
		}
		.card {
			border: 1px solid  $transparent;
			@include media-breakpoint-down(lg) {
				margin-bottom: 3.75rem;
			}
			img{
				max-width:150px
			}
		}
		.card-block{
			margin-bottom: 4rem;
		}
		.learn-more {
			.read-more {
				text-decoration: none;
				color:$brand-danger;
				&:hover {
					text-decoration: underline;
					// border-bottom: 1px solid $brand-danger;
				}
			}

		}
	}
	
	#latest-blog-posts {
		#latest-blog-posts-row {
			.latest-blog-posts-carousel {
				.card-block{
					.card-title{
						white-space: nowrap; 
						overflow: hidden;
						text-overflow: ellipsis; 
					}
				}

			}
			//margin-bottom:28px !important;
		}
		.bg-primary{
			height: 268px;
		}
	}

	#press-releases {

		.learn-more {
			position: absolute;
			bottom: 15px;
			right: 15px;
		}
		.learn-more a {
			color: $brand-danger;
		}
		.description {
			margin-bottom: 2rem;
		}
		.card-group-flex,
		.card-group-flex-sm,
		.card-group-flex-md,
		.card-group-flex-lg {
			.card {
				max-width: 411px;
				margin: 0 $grid-gutter-width/2;
				border-left: 1px solid $brand-primary !important;
			}
		}
	}

	#about{
		#about-teaser-text{
			p{
				margin-bottom: 2.5rem;
			}
		}
	}

}
