$navbar-brand-height: 37px;
$navbar-brand-width: 150px;

.navbar{
    
    .navbar-brand {
        min-width: $navbar-brand-width;
        height: $navbar-brand-height;
        background-image: url(../images/logo/BX_RZ_BremerReederei_pos_RGB.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100% auto;   
    }
    
}

#navbar-slim {
	padding-bottom: 0 !important;
	&:after{
		content: "";
		border-bottom: 1px solid #3a599f;
		width: 1110px;
		display: block;
		margin: -1px auto;
	}
}