$navbar-brand-height: 37px;
$navbar-brand-width: 150px;


    .navbar-brand {
		min-width: 770px;
		height: 157px;
		background-image: url(../images/logo/BX_RZ_BremerReederei_pos_RGB.png);
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: 100% auto;
		position: absolute;
		margin-top: 135px;
		z-index: 999;
		@include media-breakpoint-down(sm) {
			min-width: 530px;
			height: 99px;
		}

    }

#navbar-slim {
	padding-bottom: 0 !important;
	&:after{
		content: "";
		border-bottom: 1px solid #3a599f;
		width: 1110px;
		display: block;
		margin: -1px auto;
	}
}




/*
* MAIN NAVIGATION –––––––––––––––––––––––––––––––––––––––––––––––––––
**/

	#navbar-main {
		transition: all .25s ease-in-out;
		height:110px;

		.navbar-brand {
			min-width: 420px !important;
			height: 64px !important;
			margin-top: 30px !important;
			transition: all .25s ease-in-out;
			position: fixed;
			@include media-breakpoint-down(md) {
				margin-top: 17px !important;
			    min-width: 238px !important;
			}
		}

	}
	//  ?! funktioniert nicht unter #navbar-main
	.main-navigation {
		margin-top: 40px;		
		transition: all .25s ease-in-out;
	}



	/*
	* MAIN NAVIGATION STATE CLASSES
	**/
		// .nav-low-height {
		// 	//margin-top:0;
		// 	//height:80px;
		// }

		.navbar-slim {
			height: 3rem !important;
			transition: all .25s ease-in-out;
			border-bottom: 1px solid $brand-primary;
			.main-navigation {
				margin-top:0 !important;
				height:36px;
			}
			// &:after {
			// 	content: "";
			// 	border-bottom: 1px solid #3a599f;
			// 	width: 1110px;
			// 	display: block;
			// 	margin: -1px auto;
			// }
		}


		.border-bottom {
			border-bottom: 1px solid;
		}

		.main-navigation.small{
			margin-top:0;
		}

		.brand-hidden {
			opacity:0 !important;
			//display:none;
		}