


.navbar-toggler {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10001;
	&:focus {
		outline:0;
	}
}



#sidebar {
	display: none;

	.sidebar-wrapper {

		position: relative;
		height: 100%;
		overflow: auto;

		.list-group {
			.list-group-item {
				border: none;
				padding: 0.75rem 2.4rem;
			}
			.list-group-sub-item {
				padding: 0.75rem 0 0rem 3.75rem !important;
			}
			.list-group-alternative-item {
				padding: 0.75rem 0 0rem 2.5rem !important;
			}
			&.contact {
				a {
					color: $brand-danger;
				}
				a:first-child{
					padding: 0 0 0rem 2.5rem !important;
				}
			}
			a {
				color: rgba(0, 0, 0, 0.3); // ???
				transition: all .25s ease-in-out;
				transition-delay: 0s;
				transition-duration: 0.3s;
				transition-property: all;
				transition-timing-function: ease;
				&:hover, &:focus{
					background-color: $transparent !important;
					color: $brand-primary;					
				}
			}
		}
		.sidebar-brand{
			img {
			    width: 64%;
    			margin-left: 2rem;
			}
		}
		hr {
			margin-top:2rem;
		}
		li {
			list-style: none;
		}

	}
}