


.navbar-toggler {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}


#sidebar {
	display: none;

  .sidebar-wrapper {
    
    position: relative;
    height: 100%;
    overflow: auto;

    li {
      list-style: none;
    }

    .list-group-sub-item {

    }

  }
}

