// change the default values, if so remove `!default` on the end of the variable

@import 'variables';

@import '../vendor/bootstrap/scss/bootstrap.scss';
@import '../vendor/font-awesome/scss/font-awesome.scss';


@import 'helper';
@import 'layout';
@import 'slideshow';
@import 'shadow';
@import 'buttons';
@import 'navbar';
@import 'transformicons';
@import 'sidebar';
@import 'card';
@import 'fonts';
@import 'footer';
@import 'blog';

body {
	max-width: 100%; // fallback
	max-width: 100vw;
	overflow-x: hidden;
	overflow-y: scroll; //no page jumps if content is low height
}


hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border:-1; //
	border-top: 1px solid #3a599f !important;
}

.section-headline-text {
	.border-top {
		border-top: solid $brand-primary 4px;
		margin-bottom: 14px;
		width: 61px;
		@include media-breakpoint-down(xs) {
			margin:0 auto;
		}
	}
	h3 {
		@include media-breakpoint-down(sm) {
			//text-align: center !important;
			margin-top: 1rem;
    		margin-bottom: 1rem;
		}		
	}
}

h3, h4, .card-block .text-sm-right {
	color: $brand-primary;//!important;
}

nav .container {
	padding-left: 0;
}



#default-layout-container {
	margin-top: 8rem;
	@include media-breakpoint-down(sm) {
		margin-top: 4rem;
	}
	//position: fixed;
}


.card {
	border: 1px solid $brand-primary;
}

.card-block {
	.text-sm-right {
		margin-bottom: 15px;
	}
}

.nav-link, .card-block  {
	transition: all .25s ease-in-out;
	transition-delay: 0s;
	transition-duration: 0.3s;
	transition-property: all;
	transition-timing-function: ease;
	  
}


/*
 * HOMEPAGE –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
**/
#home{

	.overview-content-container {
		margin-top: 1.5rem;
		text-align: center;
	}
	#overview{
		.learn-more {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
		}
		.card {
			border: 1px solid  $transparent;
			@include media-breakpoint-down(lg) {
				margin-bottom: 3.75rem;
			}
		}
		.card-block{
			margin-bottom: 4rem;
		}
	}
	

	
	#latest-blog-posts {
		#latest-blog-posts-row {
			//margin-bottom:28px !important;
		}
	}



	#press-releases {

		.learn-more {
			position: absolute;
			bottom: 15px;
			right: 15px;
		}
		.learn-more a {
			color: $brand-danger;
		}
		.description {
			margin-bottom: 2rem;
		}
		.card-group-flex,
		.card-group-flex-sm,
		.card-group-flex-md,
		.card-group-flex-lg {
			.card {
				margin: 0 $grid-gutter-width/2;
				border-left: 1px solid $brand-primary !important;
			}
		}
	}

	#about{
		#about-teaser-text{
			p{
				margin-bottom: 2.5rem;
			}
		}
	}

}

/*
 * SUBPAGES –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 **/
#linerservices {

	#liner-services{
		#liner-services-content-container {
			text-align: justify !important;
		}
	}

}
.content-container {
	text-align: justify !important;
}
