// change the default values, if so remove `!default` on the end of the variable

@import 'variables';

@import '../vendor/bootstrap/scss/bootstrap.scss';
@import '../vendor/font-awesome/scss/font-awesome.scss';


@import 'helper';
@import 'layout';
@import 'slideshow';
@import 'shadow';
@import 'buttons';
@import 'navbar';
@import 'sidebar';



hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border:-1; //
    border-top: 1px solid #3a599f !important;
}

.bg-faded {
    background-color: white;
}

.section-headline-text .border-top {
    
    border-top: solid $brand-primary 4px;
    margin-bottom: 14px;
    width: 61px;
}

.overview-content-container {
     min-height:191px;
     text-align: justify;
}


h3, h4, .card-block .text-sm-right {
    color: $brand-primary !important;
}

.card {
    border: 1px solid $brand-primary !important;
}

.card-block {
  //  padding:0 !important;
    // img {
    //     margin-bottom: 15px;
    //     width: 100%;
    //     position: relative;
    //     margin-left: -20px;
    //     margin-top: -20px;
    // }
    .text-sm-right {
        margin-bottom: 15px;
    }
}


.learn-more a {
    color: $brand-danger !important;
}

.carousel-video-wrapper video, .carousel-image-wrapper img {
        opacity: 0.6 !important;
}

#press-releases {

    .learn-more {
        position: absolute;
        bottom: 15px;
        right: 15px;
    }

}


#latest-blog-posts {
    
    #latest-blog-posts-row {
        //margin-bottom:28px !important;
    }
    
    .latest-blog-posts-content-container {
        height: 58px;
        text-align: justify !important;
    }
    
    .latest-blog-posts-carousel .learn-more a, #reports .learn-more a{
        color: $brand-primary !important;
    }
    
    #latest-blog-posts-row {
            
        .slick-slide {
           margin: 0 $grid-gutter-width/2;
           height:200px;
        }
        
        .slick-list {
           margin: 0 -$grid-gutter-width;
        }
        
        .slick-prev {
          left: -40px;  
        }
        
        .slick-next {
          right: -40px;
        }
    }

}


.footer {
    &#footer-brand-logo-container {
        text-align: center !important;
        margin-top: 163px; // besser loesen 
        img{
            width: 114% !important;
            // margin-left: -1%;
        }
    }

    &#footer-navigation-wrapper{
        background-color: #ededed;
    }

    &#footer-legal-wrapper, #blog-header-wrapper {
        background-color: $brand-primary;
        a{
            color: white;
        }
    }

    // &#footer-legal-wrapper a {
    // }

    .footer-navigation-container {
        text-align: center;
    }

    .footer-navigation-container a {
        margin:10px;
    }

    #footer-contact-container {
        line-height: 20px;
        .row {
            margin-left:3%;
        }
    }
}

// DIRTY HACK until we have the final edited logo
    // #footer-brand-logo-container img {
    // }
// #latest-blog-posts-container{
//     margin-top:0 !important;
// }






// !! not final color


// #footer-navigation-container .navbar-nav {
//   display: inline-block;
//   float: none;
//   vertical-align: top;
// }


// #footer-contact-container .col-xs-3{
//    // margin-right:10%;
// }

#navbar-main {
     transition: all .25s ease-in-out;
}
.navbar .navbar-brand {
    min-width: 420px !important;
    height: 64px !important;
    margin-top: 30px !important;
    transition: opacity .25s ease-in-out;
}

.main-navigation {
    margin-top: 40px;
    transition: all .25s ease-in-out;
}

.nav-low-height {
     margin-top:0;
}

.border-bottom {
    border-bottom: 1px solid;
}

.main-navigation.small{
    margin-top:0;
}

.brand-hidden {
    opacity:0 !important;
    display:none;   
}


#liner-services #liner-services-content-container {
    text-align: justify !important;
}

#liner-services #liner-services-sliedeshow-container {
    margin: 0 !important;
    padding: 0 !important;
}

// BLOG 
#blog-header-wrapper {
    
    // width:100%;
    // // margin-top: 110px; 
    // position: fixed;
    // position:fixed;
    // height:135px;
    // z-index:999;
    // transition: all .25s ease-in-out;
    // top:110px;

    width: 100%;
    position: fixed;
    position: fixed;
    height: 210px;
    z-index: 999;
    transition: all .25s ease-in-out;

    /* top: 110px; */
    .blog-header-container {
        text-align:center;
    }
    
    .blog-header-container #blog-filter .nav-link {
        color: white;
        margin-top: 140px;
    }

    .blog-header-container .navbar .navbar-nav {
        display: inline-block;
        float: none;
        text-align: center;
    }

    #blog-filter .btn {
        font-size: 1.1rem !important;
    }
 

}

#Category, #AllReports {
    .blog-content-wrapper {
        background-color: $gray-lighter;
    }
}
#Post{
    #blog-content-column {
        padding-top: 241px;
    }
    #post-date{
        margin-top: 7px;
        color: $brand-primary;
    }
    
}
.blog-content-wrapper {

    #all-posts-container {
        padding-top: 185px;
    }

    #blog-posts-list {
        background-color: $gray-lighter;
        padding-top:243px;
    }

    .card{
        border: 0 !important
    }
}

.blog-nav-small {
    margin-top: 15px !important;
}


// all blog categories
// .blog-content-wrapper {
//     margin-top:264px;
// }
// dort funktioniert es http://jsfiddle.net/daslicht/zonh5qjw/3/
// hier nicht 

.blog-header-container .navbar {
    text-align: center;
}

.blog-nav-low-height{
    width: 100% !important;
    margin-top: 54px !important;
    height: 72px !important;
    top:0 !important;
}

#default-layout-container {
    margin-top: 140px;
}