// change the default values, if so remove `!default` on the end of the variable

@import 'variables';

@import '../vendor/bootstrap/scss/bootstrap.scss';
@import '../vendor/font-awesome/scss/font-awesome.scss';


@import 'helper';
@import 'layout';
@import 'slideshow';
@import 'shadow';
@import 'buttons';
@import 'navbar';


.bg-faded {
    background-color: white;
}


#about-teaser-text{
    
}

.section-headline-text .border-top {
    
    border-top: solid $brand-primary 4px;
    margin-bottom: 14px;
    width: 61px;
    
}

.overview-content-container {
     min-height:177px;
     text-align: justify;
}

h3, h4{
    color: $brand-primary !important;
}
