[viewBag]

[slideshow homepageSlideshow]
slideshow = 2
injectSlickAssets = 0
injectSlickTheme = 0
injectJLSlideshowCSS = 0
injectJQuery = 0
aspectRatio = "ratio-16-9"
captionPosition = "middle center"
adaptiveHeight = 0
centerMode = 1
centerPadding = "0px"
autoplayOnShow = 0
nextSlideOnEnd = 0
autoplay = 0
fade = 0
infinite = 1
slidesToShow = 1
rtl = 0
waitForAnimate = 1
accessibility = 1
arrows = 0
dots = 1
draggable = 1
focusOnSelect = 0
pauseOnFocus = 0
pauseOnHover = 0
pauseOnDotsHover = 0
swipe = 1
swipeToSlide = 0
touchMove = 1
verticalSwiping = 0
mobileFirst = 0
respondTo = "window"
useCSS = 1
useTransform = 1
variableWidth = 0
vertical = 0

==	
	{% put scripts %}
		<script type="text/javascript">
	//	$(document).ready(function(){

	
			var {{ str_camel(homepageSlideshow.alias) }}Settings = {
				{{ homepageSlideshow.property('accessibility') == blank ? '//' : '' }}    accessibility:      Boolean( {{ homepageSlideshow.property('accessibility') }} ) === true ,
				{{ homepageSlideshow.property('adaptiveHeight') == blank ? '//' : '' }}   adaptiveHeight:     Boolean( {{ homepageSlideshow.property('adaptiveHeight') }} ) === true,
				{{ homepageSlideshow.property('autoplay') == blank ? '//' : '' }}         autoplay:           Boolean( {{ homepageSlideshow.property('autoplay') }} ) === true,
				{{ homepageSlideshow.property('autoplaySpeed') == blank ? '//' : '' }}    autoplaySpeed:      Number( {{ homepageSlideshow.property('autoplaySpeed') }} ),
				{{ homepageSlideshow.property('arrows') == blank ? '//' : '' }}           arrows:             Boolean( {{ homepageSlideshow.property('arrows') }} ) === true,
				{{ homepageSlideshow.property('asNavFor') == blank ? '//' : '' }}         asNavFor:           String("{{ homepageSlideshow.property('asNavFor') }}"),
				{{ homepageSlideshow.property('appendArrows') == blank ? '//' : '' }}     appendArrows:       {{ homepageSlideshow.property('appendArrows') | raw}},
				{{ homepageSlideshow.property('appendDots') == blank ? '//' : '' }}       appendDots:         {{ homepageSlideshow.property('appendDots') | raw}},
				{{ homepageSlideshow.property('prevArrow') == blank ? '//' : '' }}        prevArrow:          String('{{ homepageSlideshow.property("prevArrow") | raw}}'),
				{{ homepageSlideshow.property('nextArrow') == blank ? '//' : '' }}        nextArrow:          String('{{ homepageSlideshow.property("nextArrow") | raw}}'),
				{{ homepageSlideshow.property('centerMode') == blank ? '//' : '' }}       centerMode:         Boolean("{{ homepageSlideshow.property('accessibility') }}") === true,
				{{ homepageSlideshow.property('centerPadding') == blank ? '//' : '' }}    centerPadding:      String("{{homepageSlideshow.property('centerPadding')}}"),
				{{ homepageSlideshow.property('cssEase') == blank ? '//' : '' }}          cssEase:            String("{{homepageSlideshow.property('cssEase')}}"),
				{{ homepageSlideshow.property('customPaging') == blank ? '//' : '' }}     customPaging:       {{homepageSlideshow.property('customPaging') | raw}} ,
				{{ homepageSlideshow.property('dots') == blank ? '//' : '' }}             dots:               Boolean( {{ homepageSlideshow.property('dots') }} ) === true,
				{{ homepageSlideshow.property('dotsClass') == blank ? '//' : '' }}        dotsClass:          String("{{homepageSlideshow.property('dotsClass')}}"),
				{{ homepageSlideshow.property('draggable') == blank ? '//' : '' }}        draggable:          Boolean( {{ homepageSlideshow.property('draggable') }} ) === true,
				{{ homepageSlideshow.property('fade') == blank ? '//' : '' }}             fade:               Boolean( {{ homepageSlideshow.property('fade') }} ) === true,
				{{ homepageSlideshow.property('focusOnSelect') == blank ? '//' : '' }}    focusOnSelect:      Boolean( {{ homepageSlideshow.property('focusOnSelect') }} ) === true,
				{{ homepageSlideshow.property('easing') == blank ? '//' : '' }}           easing:             String("{{homepageSlideshow.property('easing')}}"),
				{{ homepageSlideshow.property('edgeFriction') == blank ? '//' : '' }}     edgeFriction:       parseFloat({{homepageSlideshow.property('edgeFriction')}}),
				{{ homepageSlideshow.property('infinite') == blank ? '//' : '' }}         infinite:           Boolean( {{ homepageSlideshow.property('infinite') }} ) === true,
				{{ homepageSlideshow.property('initialSlide') == blank ? '//' : '' }}     initialSlide:       Number( {{ homepageSlideshow.property('initialSlide') }} ),
				{{ homepageSlideshow.property('lazyLoad') == blank ? '//' : '' }}         lazyLoad:           String("{{homepageSlideshow.property('lazyLoad')}}"),
				{{ homepageSlideshow.property('mobileFirst') == blank ? '//' : '' }}      mobileFirst:        Boolean( {{ homepageSlideshow.property('mobileFirst') }} ) === true,
				{{ homepageSlideshow.property('pauseOnFocus') == blank ? '//' : '' }}     pauseOnFocus:       Boolean( {{ homepageSlideshow.property('pauseOnFocus') }} ) === true,
				{{ homepageSlideshow.property('pauseOnHover') == blank ? '//' : '' }}     pauseOnHover:       Boolean( {{ homepageSlideshow.property('pauseOnHover') }} ) === true,
				{{ homepageSlideshow.property('pauseOnDotsHover') == blank ? '//' : '' }} pauseOnDotsHover:   Boolean( {{ homepageSlideshow.property('pauseOnDotsHover') }} ) === true,
				{{ homepageSlideshow.property('respondTo') == blank ? '//' : '' }}        respondTo:          String("{{homepageSlideshow.property('respondTo')}}"),

				{{ homepageSlideshow.property('responsive') == blank ? '//' : '' }}       responsive:         {{homepageSlideshow.property('responsive') | raw}},

				{{ homepageSlideshow.property('rows') == blank ? '//' : '' }}             rows:               Number( {{ homepageSlideshow.property('rows') }} ),
				{{ homepageSlideshow.property('slide') == blank ? '//' : '' }}            slide:              String("{{homepageSlideshow.property('slide')}}"),
				{{ homepageSlideshow.property('slidesPerRow') == blank ? '//' : '' }}     slidesPerRow:       Number( {{ homepageSlideshow.property('slidesPerRow') }} ),
				{{ homepageSlideshow.property('slidesToShow') == blank ? '//' : '' }}     slidesToShow:       Number( {{ homepageSlideshow.property('slidesToShow') }} ),
				{{ homepageSlideshow.property('slidesToScroll') == blank ? '//' : '' }}   slidesToScroll:     Number( {{ homepageSlideshow.property('slidesToScroll') }} ),
				{{ homepageSlideshow.property('speed') == blank ? '//' : '' }}            speed:              Number( {{ homepageSlideshow.property('speed') }} ),
				{{ homepageSlideshow.property('swipe') == blank ? '//' : '' }}            swipe:              Boolean( {{ homepageSlideshow.property('swipe') }} ) === true,
				{{ homepageSlideshow.property('swipeToSlide') == blank ? '//' : '' }}     swipeToSlide:       Boolean( {{ homepageSlideshow.property('swipeToSlide') }} ) === true,
				{{ homepageSlideshow.property('touchMove') == blank ? '//' : '' }}        touchMove:          Boolean( {{ homepageSlideshow.property('touchMove') }} ) === true,
				{{ homepageSlideshow.property('touchThreshold') == blank ? '//' : '' }}   touchThreshold:     Number( {{ homepageSlideshow.property('touchThreshold') }} ),
				{{ homepageSlideshow.property('useCSS') == blank ? '//' : '' }}           useCSS:             Boolean( {{ homepageSlideshow.property('useCSS') }} ) === true,
				{{ homepageSlideshow.property('useTransform') == blank ? '//' : '' }}     useTransform:       Boolean( {{ homepageSlideshow.property('useTransform') }} ) === true,
				{{ homepageSlideshow.property('variableWidth') == blank ? '//' : '' }}    variableWidth:      Boolean( {{ homepageSlideshow.property('variableWidth') }} ) === true,
				{{ homepageSlideshow.property('vertical') == blank ? '//' : '' }}         vertical:           Boolean( {{ homepageSlideshow.property('vertical') }} ) === true,
				{{ homepageSlideshow.property('verticalSwiping') == blank ? '//' : '' }}  verticalSwiping:    Boolean( {{ homepageSlideshow.property('verticalSwiping') }} ) === true,
				{{ homepageSlideshow.property('rtl') == blank ? '//' : '' }}              rtl:                Boolean( {{ homepageSlideshow.property('rtl') }} ) === true,
				{{ homepageSlideshow.property('waitForAnimate') == blank ? '//' : '' }}   waitForAnimate:     Boolean( {{ homepageSlideshow.property('waitForAnimate') }} ) === true,
				{{ homepageSlideshow.property('zIndex') == blank ? '//' : '' }}           zIndex:             Number( {{ homepageSlideshow.property('zIndex') }}),
			};

			/////////////////////////////////////////////////////////////////////////////

			// Slick Events
			/**
			* INIT
			*/
			$('#{{ str_camel(homepageSlideshow.alias) }}').on('init', function( event, slick ) {
				// console.log('Init');
			});


			/**
			* RE INIT
			*/
			$('#{{ str_camel(homepageSlideshow.alias) }}').on('reInit', function( event, slick ) {
				// console.log('reInit');
			});


			/**
			* BEFORE CHANGE
			*/
			$('#{{ str_camel(homepageSlideshow.alias) }}').on('beforeChange', function( event, slick ) {
				// console.log('beforeChange');
			});


			/**
			* AFTER CHANGE
			*/
			$('#{{ str_camel(homepageSlideshow.alias) }}').on('afterChange', function( event, slick ) {
				var currentSlideType = $(".slick-current").data("slide-type");
				handleSlideType(currentSlideType)
			});
			// Slick Events

			/////////////////////////////////////////////////////////////////////////////

			var $slider = $('#{{ str_camel(homepageSlideshow.alias) }}');


			/**
			*  Switch to next slide after video ends, and rewinds it.
			*	( eventhandler function which gets called after video 'ended' )
			*/		
			function onVideoEnd() {
				// console.log('afterChange/ onVideoEnd')
				// var theId='{{ str_camel(homepageSlideshow.alias) }}-slide{{autoplayIndex}}-video';
				// var theVideo = $("#"+theId);
				var theVideo = $(".slick-current video");
				$slider.slick("slickNext");
					theVideo.off('ended', onVideoEnd);
					theVideo[0].pause();
					theVideo[0].currentTime = 0;
			}


			/**
			*  Start Video Playback
			*  ( start video and add event handler see:  onVideoEnd )
			*/		
			function startVideoPlayback() {
				//var theId = '{{ str_camel(homepageSlideshow.alias) }}-slide{{autoplayIndex}}-video';
				// console.log("theVideo with id", theId);
				/*var theVideo = document.getElementById(theId);
		
				var theVideo = document.getElementById(theId);
				var theVideo = $("#"+theId);*/
				console.log("startVideoPlayback called");
				var theVideo = $(".slick-current video");
					theVideo[0].play();
					theVideo.on('ended', onVideoEnd );
				$slider.slick('slickPause');
			}


			/**
			*  Handle Slide Type
			*  ( do something depending on the current slide type )
			*/
			function handleSlideType(currentSlideType) {
				switch( currentSlideType ) 
				{
					case 'video': {
						startVideoPlayback();
					};break;

					case 'image': {
						// console.log('afterChange/ case: image');
						$slider.slick('slickSetOption', 'autoplay', true,true);
					};break;
				}
			}

			/////////////////////////////////////////////////////////////////////////////


			/**
			*  Stop Slideshow
			*  ( stop video, remove event handler, stop slick )
			*  associated event: jumplink_slideshow_stop
			*/		
			function stop_slideshow() {
				console.log('stop slideshow');
				$slider.slick('slickPause');
				// var theId = '{{ str_camel(homepageSlideshow.alias) }}-slide{{autoplayIndex}}-video';
				// console.log("theVideo with id", theId);
				// var theVideo = $("#"+theId);
				var theVideo = $(".slick-current video");
					theVideo.off('ended', onVideoEnd);
					theVideo[0].pause();
					theVideo[0].currentTime = 0;
			}
			$slider.on('jumplink_slideshow_stop', stop_slideshow);



			function resume_slideshow() {
				console.log('resume_slideshow called');
				var currentSlideType = $(".slick-current").data("slide-type");
				handleSlideType( currentSlideType );
			}
			$slider.on('jumplink_resume_slideshow', resume_slideshow);

			/**
			*  Initialize Slideshow
			*  ( called on first page load and after pause )
			*  associated event: jumplink_re_init_slideshow
			*/
			function re_init_slideshow() {
				$slider.slick('setPosition');
				console.log('re_init_slideshow called');
				//var currentSlideType = $(".slick-current").data("slide-type");
				var currentSlideType = $("#homepageSlideshow-slide-1").data("slide-type");				
				console.log('currentSlideType:', currentSlideType);
				handleSlideType( currentSlideType );
			}
			$slider.on('jumplink_re_init_slideshow', re_init_slideshow);


			/**
			* SLIDESHOW CONSTRUCTOR
			* ( anything starts here )
			* associated event: jumplink_init_slideshow
			*/
			function init() {
				
				$slider.slick( {{ str_camel(homepageSlideshow.alias) }}Settings );
		
				re_init_slideshow();
				console.log("init()")
			}
			$slider.on('jumplink_init_slideshow', init);
			init();
	//	});
		</script>
	{% endput %}


