[viewBag]

[slideshow homepageSlideshow]
slideshow = 2
injectSlickAssets = 0
injectSlickTheme = 0
injectJLSlideshowCSS = 0
injectJQuery = 0
aspectRatio = "ratio-16-9"
captionPosition = "middle center"
autoplayOnShow = 0
nextSlideOnEnd = 0
accessibility = 1
adaptiveHeight = 0
autoplay = 0
arrows = 0
centerMode = 1
centerPadding = "0px"
dots = 1
draggable = 1
fade = 0
focusOnSelect = 0
infinite = 1
mobileFirst = 0
pauseOnFocus = 0
pauseOnHover = 0
pauseOnDotsHover = 0
respondTo = "window"
slidesToShow = 1
swipe = 1
swipeToSlide = 0
touchMove = 1
useCSS = 1
useTransform = 1
variableWidth = 0
vertical = 0
verticalSwiping = 0
rtl = 0
waitForAnimate = 1
==
{% if homepageSlideshow.slideshow.slides %}

	{% set autoplayIndex = -1 %}

	<div id='{{ str_camel(homepageSlideshow.alias) }}' class="slick-carousel">

		{% for i, slide in homepageSlideshow.slideshow.slides %}

			{% if homepageSlideshow.slideshow.slides %}

				{% if slide.link %}
					{% set slickSlideElement = 'a' %}
				{% else %}
					{% set slickSlideElement = 'div' %}
				{% endif %}

				{% if slide.mp4 != blank or slide.webm != blank or slide.ogg != blank %}
					{% set slide_type = 'video'%}
				{% else %}
					{% set slide_type = 'image'%}
				{% endif %}


				<{{slickSlideElement}} href="{{ slide.link }}" id="{{ str_camel(homepageSlideshow.alias) }}-slide-{{loop.index}}" class="slick-slide" data-slide-type="{{slide_type}}">

					{% if slide.mp4 != blank or slide.webm != blank or slide.ogg != blank %}

						{% if homepageSlideshow.property('autoplayOnShow') and loop.index == (homepageSlideshow.property('initialSlide') != blank ? homepageSlideshow.property('initialSlide') + 1 : 1) %}
							{% set autoplayIndex = loop.index %}
						{% endif %}

						<div class="carousel-video-wrapper">
							{% if slide.aspect_ratio == 'custom' %}
								<div class="box" style="padding-top: {{ 100.0 / slide.custom_ratio}}%;">
									<video id="{{ str_camel(homepageSlideshow.alias) }}-slide-{{loop.index}}-video" preload  muted width="100%" poster="{{ slide.image.path }}">
										{% if slide.mp4 != blank %}
											<source src="{{slide.mp4.path}}" type="video/mp4">
										{% endif %}
										{% if slide.ogg != blank %}
											<source src="{{slide.ogg.path}}" type="video/ogg">
										{% endif %}
										{% if slide.webm != blank %}
											<source src="{{slide.webm.path}}" type="video/webm">
										{% endif %}
									</video>
								</div>
							{% elseif slide.aspect_ratio != blank %}
								<div class="box {{slide.aspect_ratio}}">
									<video id="{{ str_camel(homepageSlideshow.alias) }}-slide-{{loop.index}}-video" preload  muted width="100%" poster="{{ slide.image.path }}">
										{% if slide.mp4 != blank %}
											<source src="{{slide.mp4.path}}" type="video/mp4">
										{% endif %}
										{% if slide.ogg != blank %}
											<source src="{{slide.ogg.path}}" type="video/ogg">
										{% endif %}
										{% if slide.webm != blank %}
											<source src="{{slide.webm.path}}" type="video/webm">
										{% endif %}
									</video>
								</div>
							{% elseif homepageSlideshow.property('aspectRatio') == 'custom' %}
								<div class="box" style="padding-top: {{ 100.0 / homepageSlideshow.property('customtRatio') }}%">
									<video id="{{ str_camel(homepageSlideshow.alias) }}-slide-{{loop.index}}-video" preload  muted width="100%" poster="{{ slide.image.path }}">
										{% if slide.mp4 != blank %}
											<source src="{{slide.mp4.path}}" type="video/mp4">
										{% endif %}
										{% if slide.ogg != blank %}
											<source src="{{slide.ogg.path}}" type="video/ogg">
										{% endif %}
										{% if slide.webm != blank %}
											<source src="{{slide.webm.path}}" type="video/webm">
										{% endif %}
									</video>
								</div>
							{% elseif homepageSlideshow.property('aspectRatio') != blank %}
								<div class="box {{ homepageSlideshow.property('aspectRatio') }}">
									<video id="{{ str_camel(homepageSlideshow.alias) }}-slide-{{loop.index}}-video" preload  muted width="100%" poster="{{ slide.image.path }}">
										{% if slide.mp4 != blank %}
											<source src="{{slide.mp4.path}}" type="video/mp4">
										{% endif %}
										{% if slide.ogg != blank %}
											<source src="{{slide.ogg.path}}" type="video/ogg">
										{% endif %}
										{% if slide.webm != blank %}
											<source src="{{slide.webm.path}}" type="video/webm">
										{% endif %}
									</video>
								</div>
							{% else %}
								<video id="{{ str_camel(homepageSlideshow.alias) }}-slide-{{loop.index}}-video" preload  muted width="100%" poster="{{ slide.image.path }}">
									{% if slide.mp4 != blank %}
										<source src="{{slide.mp4.path}}" type="video/mp4">
									{% endif %}
									{% if slide.ogg != blank %}
										<source src="{{slide.ogg.path}}" type="video/ogg">
									{% endif %}
									{% if slide.webm != blank %}
										<source src="{{slide.webm.path}}" type="video/webm">
									{% endif %}
								</video>
							{% endif %}

							{% if slide.name != blank or slide.description != blank  %}
								<div class="carousel-caption-wrapper {{slide.caption_position != 'auto' ? slide.caption_position : homepageSlideshow.property('captionPosition')}}">
									<div class="carousel-caption-content">
										<h2>{{ slide.name | raw }}</h2>
										{{ slide.description | raw }}

									</div>
								</div>
							{% endif %}

						</div>
					{% else %}
						<div class="carousel-image-wrapper">

							{% if slide.aspect_ratio == 'custom' %}
								<div class="background-box" style="padding-top: {{ 100.0 / slide.custom_ratio}}%; background-image: url({{ slide.image.path }});" alt="{{ slide.image.path }}"></div>
							{% elseif slide.aspect_ratio != blank %}
								<div class="background-box {{slide.aspect_ratio}}" style="background-image: url({{ slide.image.path }});" alt="{{ slide.image.path }}"></div>
							{% elseif homepageSlideshow.property('aspectRatio') == 'custom' %}
								<div class="background-box" style="padding-top: {{ 100.0 / homepageSlideshow.property('customRatio') }}%; background-image: url({{ slide.image.path }});" src="{{ slide.image.path }}" alt="{{ slide.image.path }}"></div>
							{% elseif homepageSlideshow.property('aspectRatio') != blank %}
								<div class="background-box {{ homepageSlideshow.property('aspectRatio') }}" style="background-image: url({{ slide.image.path }});" src="{{ slide.image.path }}" alt="{{ slide.image.path }}"></div>
							{% else %}
								<div class="img-responsive img-fluid" src="{{ slide.image.path }}" alt="{{ slide.image.path }}"></div>
							{% endif %}

							{% if slide.name != blank or slide.description != blank  %}
							   <div class="carousel-caption-wrapper {{slide.caption_position != 'auto' ? slide.caption_position : homepageSlideshow.property('captionPosition')}}">
									<div class="carousel-caption-content">
										<h2>{{ slide.name | raw }}</h2>
										{{ slide.description | raw }}
									</div>
								</div>

							{% endif %}

						</div>
					{% endif %}
				</{{slickSlideElement}}>
			{% endif %}
		{% endfor %}
	</div>


    {#{% partial 'homepage/slideshow_javascript' %}#}


{% endif %}