//document.getElementById("myDIV").removeEventListener("mousemove", myFunction);

			//see: https://github.com/kenwheeler/slick/issues/1501


/*	setTimeout( function(){
				console.log('init',slick);

				var currentSlideType = $(".slick-current").data("slide-type");
				console.log('currentSlideType:', currentSlideType);

				var slider = slick.$slider;
				//see: https://github.com/kenwheeler/slick/issues/1501


//document.getElementById("myDIV").removeEventListener("mousemove", myFunction);
				switch( currentSlideType ) {

					case 'video': {
						console.log('case: video');
						var theId='{{ str_camel(fullscreenSlideshow.alias) }}-slide{{autoplayIndex}}-video';
						console.log("theVideo with id", theId);

						var theVideo = document.getElementById(theId);
						var theVideo = $("#"+theId);
							theVideo[0].play();

						var onVideoEnd = function() {
							slider.slick("slickNext");
							theVideo.off('ended', onVideoEnd);
							theVideo[0].pause();
							theVideo[0].currentTime = 0;
						}
						theVideo.on('ended', onVideoEnd );

						setTimeout( function() {
							slider.slick('slickPause');
							$("#fullscreenSlideshow").slick("slickPause");
						},5);


					};break;

					case 'image': {
						console.log('case: image');

					};break;

				}

			},5); */



