[staticPage]
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'html_head' %}
    </head>
    <body id="{{ str_studly(this.page.title) }}">
    
        {% partial 'navbar_slim' %}
        
        {# Content #}
        <section id="layout-content">
            {#<div class="container" id="default-layout-container">
                <div class="row">
                    <div class="col-xs-12">
                         <div class="col-xs-12 col-md-5 section-headline-text" >
                            <div class="border-top"></div>
                            <h3 class="text-xs-left">{{ this.page.title }}</h3>  
                         </div>
                    </div>
                </div>#}
                <div class="container" id="default-layout-container">
                    {% page %}
                </div>

            {#</div>#}
        </section>
        
      
        {% partial 'footer/footer_brand' %}

        {% partial 'footer/footer_navigation' %}
        
        {% partial 'footer/footer_contact' %}
        
        {% partial 'footer/footer_legal' %}     

        {% put scripts %}
            <!--<script type="text/javascript" src="{{ 'assets/javascript/pages/home.js' | theme }}"></script>-->
        {% endput %}

        {% put scripts %}
            <script type="text/javascript" src="{{ 'assets/javascript/pages/navigation.js' | theme }}"></script>
        {% endput %}
        
        {% partial 'body_foot' %}


                
    </body>
</html>