[staticPage]
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'html_head' %}
    </head>
    <body id="{{ str_studly(this.page.title) }}">
    
        {% partial 'navbar' %}
        
        {# Content #}
        <section id="layout-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>{{ this.page.title }}</h1>
                        <hr>
                       {% page %}
                    </div>
                </div>
            </div>
        </section>
        
        {% partial 'footer_brand' %}
     

        {% partial 'body_foot' %}    
        
        {% partial 'footer_navigation' %}    
        
        {% partial 'footer_contact' %}    
        
        {% partial 'footer_legal' %} 
        
        {% partial 'body_foot' %}    
        
    </body>
</html>