[slideshow]
slideshow = 2
injectSlickAssets = 0
injectSlickTheme = 0
injectJLSlideshowCSS = 0
injectJQuery = 0
aspectRatio = "ratio-16-9"
captionPosition = "middle center"
adaptiveHeight = 0
centerMode = 0
centerPadding = 0
lazyLoad = "ondemand"
autoplayOnShow = 1
nextSlideOnEnd = 1
autoplay = 1
autoplaySpeed = 3000
cssEase = "ease"
fade = 0
easing = "linear"
infinite = 1
initialSlide = 0
rows = 1
slidesPerRow = 1
slidesToShow = 1
speed = 300
rtl = 0
waitForAnimate = 1
accessibility = 1
arrows = 0
prevArrow = "<button type=\"button\" class=\"slick-prev\">Previous</button>;"
nextArrow = "<button type=\"button\" class=\"slick-next\">Next</button>;"
dots = 1
dotsClass = "slick-dots"
draggable = 1
focusOnSelect = 0
edgeFriction = 0.15
pauseOnFocus = 1
pauseOnHover = 1
pauseOnDotsHover = 0
slidesToScroll = 1
swipe = 1
swipeToSlide = 0
touchMove = 1
touchThreshold = 5
verticalSwiping = 0
mobileFirst = 0
respondTo = "window"
useCSS = 1
useTransform = 1
variableWidth = 0
vertical = 0
zIndex = 1000

[staticPage]
==
<!DOCTYPE html>
<html lang="en">
    <head>
        {% partial 'html_head' %}
    </head>
    <body id="{{ str_studly(this.page.title) }}">
    
        {% partial 'navbar' %}
        
        {% component 'slideshow' %}
        

        <section id="layout-content">

            {# <h1>{{ this.page.title }}</h1> #}
           
            {#<hr>#}
            {#<div class="container">#}
                {% page %}    
            {#</div>#}
        </section>


      
        {% partial 'footer/footer_brand' %}

        {% partial 'footer/footer_navigation' %}
        
        {% partial 'footer/footer_contact' %}
        
        {% partial 'footer/footer_legal' %}     
{#
assets/vendor/Hyphenator/Hyphenator.js' | theme 
http://breb.jumplink.eu/themes/breb/assets/vendor/Hyphenator/Hyphenator.js#}
        {% put scripts %}
            <script type="text/javascript" src="{{ 'assets/vendor/Hyphenator/Hyphenator.js' | theme }}""></script>
        {% endput %}
        
        {% put scripts %}
            <script type="text/javascript" src="{{ 'assets/javascript/pages/home.js' | theme }}"></script>
        {% endput %}
        



        {% partial 'body_foot' %}
                
    </body>
</html>