title = "Post"
url = "/reports/post/:slug"
layout = "blog"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "all-reports"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "all-reports"
postPage = "post"
==
<div class="blog-content-wrapper" data-target="#blog-content-wrapper" id="blog-content-wrapper"> 

    <div class="container">

        <div class="col-xs-8  section-headline-text"  id="blog-content-column">
            
            <div class="col-xs-10 p-b-2 p-l-0">
                <h3 class="card-title text-lg-left text-serif">{{ post.title }}</h3>
            </div>
            
            <div class="col-xs-2">
                <div class="text-sm-right" id="post-date">{{ post.published_at|date('m.d.y') }}</div>
            </div>
            
            <div class="col-xs-12 p-l-0 p-b-3">
                <div class="content">{{ post.content_html|raw }}</div>
            </div>

            {% if post.featured_images.count %}
                <div class="featured-images text-center">
                    {% for image in post.featured_images %}
                        <p>
                            <img
                                data-src="{{ image.filename }}"
                                src="{{ image.path }}"
                                alt="{{ image.description }}"
                                style="max-width: 100%" />
                        </p>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
        
        {% set currentCategory = "" %}
        
        <div class="col-xs-4  section-headline-text"  id="blog-posts-list">
                
            <div class="p-y-2" id="blog-sidebar-title">
                <div class="border-top"></div>
                <h3 class="text-xs-left text-serif">Lastest
                    {% if post.categories.count %} 
                        {% for category in post.categories %}
                            <!-- interesing ...  category.url != category.name here :) -->
                            {{ category.name }}
                            {% set currentCategory = category.slug %}
                    
                            {% if not loop.last %}, {% endif %}
                        {% endfor %} 
                    {% endif %}    
                    {% if currentCategory == 'blog' %}
                        Posts
                    {% endif%}
                </h3>   
            </div>
            
            {% for post in posts %}
                {% if post.categories.count %} 
                    {% for category in post.categories %}
                        {% if category.slug == currentCategory %}
                            <div class="card card-block">
                                <a href="{{ post.url }}">
                                    <div class="text-sm-right">{{ post.published_at|date('M d, Y') }}</div>
                                    <h4 class="card-title text-lg-left text-serif">{{ post.title }}</h4>

                                    <div class='latest-blog-posts-content-container'>
                                        {{ post.summary }}
                                    </div>
                                    
                                    <div class="learn-more center-block text-xs-right">
                                    {# <a href="{{ post.url }}" class="">read more</a>#}
                                        <div>read more</div>
                                    </div>
                                </a>
                            </div>
                        {% endif%}

                    {% endfor %} 
                {% endif %}
            {% else %}
                <div class="no-data">{{ noPostsMessage }}</div>
            {% endfor %}                
        </div>

    </div>
</div>