[viewBag]
==
<div id="reports" class="blog-content-wrapper"> 
	<div class="container m-t-3" id="all-posts-container">

		<div class="grid">

			{% for post in posts %}
				<div class="grid-item {{ post.categories[0].name|slug }}" data-category="{{ post.categories[0].name|slug }}">
					<a href="{{ post.url }}" class="">

						{% if post.featured_images.count %}
							<div class="featured-images text-center "> 
								{% set image = post.featured_images[0] %}
								<div class="background-box ratio-16-9" 
										style="display:block; background-image: url({{ image.path }});" 
										title="{{ image.description }}">
								</div>
							</div>
						{% endif %}

						<div class="card-block">
							
							<div class="text-sm-right">{{ post.published_at|date('M d, Y') }}</div>
							<h4 class="card-title text-lg-left text-serif">{{ post.title }}</h4>

							<div class='latest-blog-posts-content-container'>
								{{ post.summary }} {{colums}}
							</div>

							<div class="learn-more center-block text-xs-right p-t-1">
								<div>read more</div>
							</div>

						</div>

					</a>

				</div>
			{% endfor %} 
		</div>


		{#
		 PAGINATION
		#}

		{% if posts.lastPage > 1 %}
		<div class="row text-xs-center">
			<nav aria-label="Page navigation">
				<ul class="pagination">

					{% if posts.currentPage > 1 %}
						<li class="page-item">
							<a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">
								<span aria-hidden="true">&laquo;</span>
								<span class="sr-only">Previous</span>
							</a>
						</li>
					{% endif %}


					{% for page in 1..posts.lastPage %}
						<li class="page-item {{ posts.currentPage == page ? 'active' : null }}">
							<a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
						</li>
					{% endfor %}


					{% if posts.lastPage > posts.currentPage %}
						<li class="page-item">
							<a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">
								<span aria-hidden="true">&raquo;</span>
								<span class="sr-only">Next</span>
							</a>
						</li>
					{% endif %}

				</ul>
			</nav>
		</div>
		{% endif %}

	</div>
</div>