[viewBag]

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "all-reports"
==
<?php
function onEnd() 
{    
	if( $this->param('slug') == null ) {
		//echo "no query string";
		$this['queryString' ] = "all";
	}else{
		//echo  $this->param('slug');
		$this['queryString' ]= $this->param('slug');
	}
}
?>
==
<div class="bg-primary" id="blog-header-wrapper">

	{% set currentCategory = post.categories[0].slug %}
	<div class="container blog-header-container">
  		
		<nav id="blog-filter" class="{{queryString}}">
            
            <a href="/reports" class="nav-link btn text-serif allreports
                {% if queryString == 'all' %} 
                    btn-white-outline 
                {%endif%}
                data-category="all">
                All Reports
            </a>  
            
      		{% for category in blogCategories.categories %}
               
    			<a href="/reports/category/{{category.slug}}" class="nav-link btn text-serif {{category.slug}}
	                {% if currentCategory == '{{category.slug}}' or queryString == '{{category.slug}}' %} 
					    btn-white-outline 
				    {%endif%}"
    				data-category="{{category.slug}}">
    				{{category.name}}
    			</a>  
    		{% endfor %}       
		</nav>

	</div>

</div>
