[viewBag]
==
<div id="reports" class="blog-content-wrapper"> 

	<div class="container m-t-3 {% if blogCategories.categories|length == 0 %}no-nav{% endif %}" id="all-posts-container">

		{#
		PAGINATION
		#}
		{% partial 'blog/_pager' 
			posts=posts
			page=page
		%}

		{#
		GRID
		#}
		<div class="grid">

			{% for post in posts %}
				<div class="grid-item {{ post.categories[0].name|slug }}" data-category="{{ post.categories[0].name|slug }}">
					<a href="{{ post.url }}" class="" data-category="{{ post.categories[0].name|slug }}">

						{% if post.featured_images.count %}
							<div class="featured-images text-center "> 
								{% set image = post.featured_images[0] %}
								<div class="background-box ratio-16-9" 
										style="display:block; background-image: url({{ image.path }});" 
										title="{{ image.description }}">
								</div>
							</div>
						{% endif %}

						<div class="card-block">
							
							<div class="text-xs-right">{{ post.published_at|date('M d, Y') }}</div>
							<h4 class="card-title text-lg-left text-serif">{{ post.title }}</h4>

							<div class='latest-blog-posts-content-container'>
								{{ post.summary }} {{colums}}
							</div>

							<div class="learn-more center-block text-xs-right p-t-1">
								<div>read more</div>
							</div>

						</div>

					</a>

				</div>
			{% endfor %} 
		</div>
	

		{#
		PAGINATION
		#}
		{% partial 'blog/_pager' 
			posts=posts
			page=page
		%}

	</div>
</div>